.homepage {
  text-align: center;

  &__logo {
    height: 40vh;
    max-height: 25rem;
    background: url('/assets/images/masks.jpg') center center no-repeat no-repeat;
    background-size: cover;

    @media (min-width: 500px) {
      background-size: contain;
    }
  }

  .logo__cta {
    font-size: 1.75rem;
    padding: 0 1rem;
    color: darkblue;

    @media (min-width: 500px) {
      display: inline-block;
      max-width: 50%;
    }
  }

  .logo__details {
    font-size: .75rem;
    color: #444;
    padding: 1rem;
    text-align: justify;

    @media (min-width: 500px) {
      display: inline-block;
      max-width: 30%;
    }
  }

  &__form {
    text-align: left;
    padding: 1rem;

    label, input, button {
      display: block;
      font-size: 1rem;
    }

    label {
    }

    input {
      border: solid 1px #ccc;
      border-radius: 3px;
      padding: 1rem;
      width: calc(100% - 2rem);
    }
  }
}