.main-body {
  flex: 1;
  font-size: 1.5rem;
  max-width: 1280px;
  margin: 0 auto;

  button {
    font-size: 1rem;
    background: #7badd6;
    padding: .5rem 2rem;
    text-align: center;
    min-width: 25vw;
    margin: .25rem auto;
    width: 100%;
    border-radius: 3px;
    color: #fff;

    &.button--alternate {
      background: #fff;
      color: #7badd6;
      border: none;
    }
  }
}