.take-pic {

  &__action-hint {
    color: #666;
    font-size: .7rem;
    margin: 1rem 1rem 0 1rem;
  }

  h1 {
    text-align: center;
    color: white;
    background: orange;
    padding: 1rem;
    margin: .25rem 0;
  }

  &__image {
    margin: 1rem;

    video, img {
      width: 100%;
    }

    canvas {
      display: none;
    }
  }

  &__controls {
    margin: 1rem;
  }
}