.score-screen {
  h1 {
    text-align: center;
    color: white;
    background: orange;
    padding: 1rem;
  }

  &__player-scores {
    display: flex;
    flex-flow: row wrap;

    .player-scores__player {
      flex: 1;
      min-width: 250px;
      max-width: 500px;
      position: relative;

      img {
        width: 100%;
      }

      .player__name {
        text-align: center;
        font-size: 1.55rem;
        margin-bottom: 3rem;
      }

      .player__score {
        position: absolute;
        color: white;
        left: .25rem;
        top: .25rem;
        text-shadow: 1px 1px 1px #000;
        background: orange;
        border-radius: 99rem;
        padding: .45rem;
        font-size: 1rem;
      }
    }
  }

  &__controls {
    margin: 1rem 1rem 3rem 1rem;
  }
}